.PagBody_1{
    height: 80vh;
    padding-top: 20vh;
}

.PainelAdmin{
    width: 90%;
    height: 60vh;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 2vh;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f9f9f9;
}

.PainelAdmin input{
    padding: 1vh;
    border-radius: 5px;
    border: 0;
}

.OpsPainel{
    display: flex;
    justify-content: space-around;
    margin: 0vh 30%;
    gap: 2vh;
    margin-bottom: 2vh;
}

.OpsPainel a{
    padding: 0.5vh 1vh;
}

.VehStatus{
    background-color: #fff;
    padding: 2vh;
    border-radius: 20px;
    display: flex;
    margin: 2vh 0;
}

.VehStatus img{
    width: 10%;
    height: 8%;
    border-radius: 10px;
    margin-right: 5vh;
}

.MenuVeh{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: center;
}

.MenuVeh a{
    background-color:#62b664;
    padding: 1vh 2vh;
    margin: 1vh 0;
    border-radius: 10vh;
}

.MenuVeh a:nth-of-type(3){
    background-color:#aa4444;
    padding: 1vh 2vh;
    margin: 1vh 0;
    border-radius: 10vh;
}

.InfosVeh a:nth-of-type(1){
    text-decoration: underline;
    color: orange;
}

a:hover{
    cursor: pointer;
}

progress {
    appearance: none; 
    -webkit-appearance: none;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e0e0e0; 
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0; 
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #4caf50; 
    border-radius: 10px 0 0 10px; 
    transition: width 0.3s ease; 
}

progress::-moz-progress-bar {
    background-color: #4caf50; 
    border-radius: 10px;
}

progress::-ms-fill {
    background-color: #4caf50; 
    border-radius: 10px;
}

.PainelFunci {
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    margin: 2vh 0;
}

.PainelFunci{cursor: pointer;}

.PainelFunci img{
    width: 10%;
    height: 10%;
    margin: 2vh;
    border-radius: 100%;
}

.PainelFunci h2{
    margin: 2vh 0;
}

.PainelFunci p{
    margin: 1vh 0;
}

.InfosFunci{
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

.AvaStar {
    display: flex;
    color: #D89E1F;
}

.XAndLess{
    display: flex;
    gap: 2vh;
    margin-top: 2vh;
}

.XAndLess2{
    display: flex;
    gap: 2vh;
    margin-top: 2vh;
}

.XAndLess a:nth-of-type(1){
    margin-left: 85%;
    background-color:#aa4444;
    padding: 2vh 3vh;
    border-radius: 5px;
}

.XAndLess a:nth-of-type(2){
    background-color: #4caf50;
    padding: 2vh 3vh;
    border-radius: 5px;
}

.OpColeta{
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    margin: 2vh 0;
    padding: 2vh;
}

.search_container {
    display: flex;
    align-items: center;
    width: 300px;
}

.search_container input {
    width: 100%;
    padding: 10px 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.search_container i {
    left: 12vh;
    transform: translateX(170%);
    color: #888;
}

.BtnAdd{
    background-color: #4caf50;
    margin-left: 90%;
    padding: 2vh 3vh;
    border-radius: 5px;
}